# Ignore everything
*

# But not these files...
!.gitignore
!/src
!/src/code/generic/*
!/src/code/mission/*
!/src/tests
!/.github
!build.gradle
!README.md

# ...even if they are in subdirectories
!*/
